$color-navy-dark: #081225;
$color-navy-light: rgb(97,107,125);
$color-navy-light-50-opacity: rgba(97,107,125, 0.5);
$color-navy-light-65-opacity: rgba(97,107,125, 0.65);
$color-gold-main: #fcdf89;
$color-gold-light: #f2e88f;

