html {
    font-family: $font-regular;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: $color-navy-dark;
    background-color: white;
  }
  
  .module {
    &-bordered {
      padding: 1rem;
    }

    &-contained {
      max-width: 84rem;
      margin: auto;
      padding: 1rem 2rem;

      @include medium-screen() {
        padding: 1rem 1rem;
      }

      @include two-col-screen() {
        padding: 1rem 4rem;
      }
    }
  }